body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #2e2f42;
    background: #fff;
    letter-spacing: 0.02em;
}
/* header */

ul {
    list-style: none;
    font-style: normal;
}

a {
    text-decoration: none;
    font-style: normal;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo-design {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* first section */

.first-section {
    background: #2e2f42;
}

.first-section-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    text-align: center;
    color: #fff;
}

.first-section-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor:pointer;
}

.first-section-button:hover,
.first-section-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

/* Second section */

.secont-section-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.secont-section-item-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

/* Third section */

.third-section {
    background: #f4f4fd;
}

.third-section-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
}

.third-section-item-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #434455;
}

.third-section-title {
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    color: #2e2f42;
}

/* Four section */

.four-section-title {
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    color: #2e2f42;
}

.four-section-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.four-section-list-item-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

/* Footer */

.footer {
    background: #2e2f42;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
}

.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

